/* @import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

h4 , h1 {
  margin: 0;
  font-family: 'Special Elite', sans-serif;
  -webkit-font-smoothing: antialiased;
} */

.italic {
  font-style: italic;
} 
